* {
  font-family: "Oswald", sans-serif;
  margin: 0;
  line-height: 1.8;
}
.landing_page {
  display: block;
  text-align: center;
  font-size: 2rem;
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(
      rgba(1, 1, 49, 0.685),
      rgba(1, 1, 49, 0.774)
    ),
    url(images/earthbanner.jpg);
  background-position: center;
  background-size: cover;
  color: rgba(245, 245, 245, 0.795);
}
.landing_page p {
  font-size: 1.6rem;
}
.landing {
  display: block;
  text-align: center;
  font-size: 1.6rem;
  margin: 14% 5%;
  color: rgba(245, 245, 245, 0.795);
}
.wrapper {
  background-color: #f8f8ff;
  font-size: 1.1rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.quote,
.careers,
.about,
.contact {
  background-color: rgba(1, 1, 49, 0.1);
  border-radius: 10px;
  margin: 10px;
  padding: 5%;
}
h2 {
  padding: 12px;
  font-size: 2rem;
  color: rgba(1, 1, 49, 1);
}
.service-columns {
  display: flex;
  flex-direction: row;
  flex-basis: 31%;
  justify-content: space-between;
}
.service-col {
  margin: 5px;
  padding: 5px;
}
.service-col img {
  opacity: 0.8;
  width: 100%;
  max-height: 200px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.service-col h3 {
  background-color: rgba(1, 1, 49, 0.1);
  font-size: 1.6rem;
  color: rgba(1, 1, 49, 1);
}
.service-col p {
  background-color: rgba(1, 1, 49, 0.1);
  padding: 15px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
@media (max-width: 550px) {
  .service-columns {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
#quote-btn,
#apply {
  border: 1px solid black;
  border-radius: 10px;
  background: transparent;
  margin: 20px 0px;
  padding: 10px 30px;
  position: relative;
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
  color: black;
  font-weight: 300;
}
#quote-btn a,
#apply a {
  text-decoration: none;
  color: black;
}
#quote-btn:hover,
#apply:hover {
  border: 1px solid dodgerblue;
  background: dodgerblue;
  color: whitesmoke;
  transition: 0.5s;
}
#quote-btn a:hover,
#apply a:hover {
  color: whitesmoke;
  transition: 0.5s;
}
.contact a {
  text-decoration: none;
  cursor: pointer;
}
